/* INFO */

.info {
  text-align: center;
}




#seats {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row {
  justify-content: center;
  display: flex;
  }

  .row_number {
    margin: 7px;
    color:  #db3bcd;
    font-weight: bold;

  }

  
  .seat {
      background-color: grey;
      height: 25px;
      width: 25px;
      margin: 2px;
      text-align: center;
  }

  .clicked {
    background-color: green;
  }

  #summary{
    display: flex;
    justify-content: center;
  }
 
  