/* INFO */

.home {
  font-size: 32px;
}

.info {
  text-align: center;
}

#seats {
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.row {
  justify-content: center;
  display: flex;
}

.row_number {
  margin: 4px;
  color: #db3bcd;
  font-weight: bold;
}

.seat {
  background-color: grey;
  height: 22px;
  width: 22px;
  margin: 2px;
  text-align: center;
}

.clicked {
  background-color: green;
}

#summary {
  max-width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#summary_data{
  text-align: left;
}

.final_reservation {
 text-align: right;
  span {
    cursor: pointer;
  }
  span:hover {
    color: #db3bcd;
  }
}

@media screen and (max-width: 600px) {
  .seat {
    height: 12px;
    width: 12px;
    font-size: 10px;
    margin: 2px;
    text-align: center;
  }
  .row_number {
    font-size: 10px;
    margin: 2px;
    font-weight: bold;
  }
  #summary {
    max-width: 80%;
  }
}