.column_title {
    text-align: left;
    background-color: #aaaaaa;
}

.movie_title {
    height: auto;
    text-align: left;
    font-size: 24px;
    
}

.movie_hours {
    /* width: 60%; */
    text-align: center;
}

.movie_table {
    margin-top: 32px;
}

.movie_table td {
    background-color: #f1f1f1;
}

.movie_table td div {
    text-align: right;
}

.movie_table button {
    background-color:  #f1f1f1;
    border: none;
    color: #db3bcd;
    font-weight: bold;
}

.movie_id {
    display: none;
}