.column_title {
    text-align: left;
    background-color: #aaaaaa;
}

.movie_title {
    height: auto;
    text-align: left;
    background-color: #e5e3e3;
}

.movie_hours {
    /* width: 60%; */
    text-align: center;
    background-color: #e5e3e3;
}