$primary-color: #db3bcd;

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1024px;
  position: relative;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// BIG RESOLUTION

@media screen and (min-width: 601px) {
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 8px;
    bottom: 8px;
    width: 100%;
    text-align: left;
    background-color: $primary-color;
    opacity: 0.8;
    position: absolute;
  }
  .polecane {
    color: $primary-color;
    font-size: 18px;
    text-transform: uppercase;
    margin: 8px;
    position: absolute;
    z-index: 1;
    font-weight: bolder;
  }

  .title {
    font-size: 32px;
    margin: 4px;
  }

  .shortcut {
    margin: 4px;
  }
}

// SMALL RESOLUTION
@media screen and (max-width: 600px) {
  .text {
    color: #f2f2f2;
    font-size: 8px;
    padding: 4px 6px;
    bottom: 6px;
    width: 100%;
    text-align: left;
    background-color: $primary-color;
    opacity: 0.8;
    position: absolute;
  }
  .polecane {
    color: $primary-color;
    font-size: 14px;
    text-transform: uppercase;
    margin: 4px;
    position: absolute;
    z-index: 1;
    font-weight: bolder;
  }

  .title {
    font-size: 16px;
    margin: 4px;
  }

  .shortcut {
    margin: 4px;
  }
}
